<% include header %>
<h1>About Servertrak</h1>
<h2>Purpose</h2>
<p>Servertrak is a webbased solution for managing multiple servers/computers in your inventory. It has the ability to track hardware and the hosts running on the hardware as seperate entities, allowing it to track hardware that is not in use and facilitate easy host migration to other hardware. It also tracks datacenter locations of server and updates that hosts have pending.</p>
<p>In the future, I hope to add a seperate system that would run on hosts and populate the update database ever night. Other todo items would be further function on the location concept, such as a table to store a jpg of each server in the rack, taken when installed. Also more information in the location table, including things like contact info, links to company website, long/lat.</p>
<h2>About me:</h2>
<table>
<tr><th>Creator</th><td>Grant Keller</td></tr>
<tr><th>Company</th><td>Personal</td></tr>
<tr><th>Contact</th><td>grantvkeller at devnull.net</td></tr>
</table>
<% include footer %>