<!DOCTYPE HTML>
<html>
<head>
    <title>Servertrak</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
	<h1> Grant's ServerTrak</h1>
    <h2><%= locals.settings.subtitle %></h2>
</header>
<div id="content">